<h2>Приветствую Вас!</h2>
<p>Ваш email: {{email}}</p>
<p>Ваш логин: {{username}}</p>
<p>Ваш пароль: {{password}}</p>
<p>Актуальная ссылка для входа в магазин GuitarShop: <a href={{url}}>{{url}}</a></p>
